<!-- @format -->

<body class="">
  <app-navbar></app-navbar>
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-background-color="white">
      <app-sidenav></app-sidenav>
    </div>
    <div class="main-panel">
      <div class="container-fluid">
        <p class="navbar-brand" id="page-header">{{ title }}</p>
      </div>
      <div class="content" id="custom-dash">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header card-header">
                  <div class="card-icon"></div>
                  <p class="card-category">Rooms Active</p>
                  <h3 class="card-title">40/50</h3>
                </div>
                <div class="card-footer">
                  <div class="stats"></div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header card-header">
                    <div class="card-icon">
                    </div>
                    <p class="card-category">Workers</p>
                    <h3 class="card-title">34</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header card-header">
                    <div class="card-icon">
                    </div>
                    <p class="card-category">Upcoming Event</p>
                    <h3 class="card-title">7</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header card-header">
                    <div class="card-icon">
                    </div>
                    <p class="card-category">Open Repair Issues</p>
                    <h3 class="card-title">25</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    </div>
                  </div>
                </div>
              </div> -->
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header">
                  <h4 class="card-title">Rooms Currently in Use</h4>
                  <p class="card-category">Updated on {{ date }}</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-success">
                      <th>Id</th>
                      <th>Name</th>
                      <th>Reservation</th>
                      <th>Exit</th>
                      <th>Room No.</th>
                      <th>No. People</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Yaw Asante</td>
                        <td>12/04/2020</td>
                        <td>23/05/2020</td>
                        <td>Rm 345</td>
                        <td>2</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header">
                  <h4 class="card-title">Rooms Available Now</h4>
                  <p class="card-category">Updated on {{ date }}</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-success">
                      <th>Room No.</th>
                      <th>Price</th>
                      <th>Room Type</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>345</td>
                        <td>Individual - Small</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End of Main Page  -->
    </div>
  </div>
</body>
