<!-- @format -->

<section class="section check-in bg-light pb-0">
  <div class="container">
    <!-- <div class="row availability" id="next"> -->
    <div class="form-styling">
      <form>
        <div class="form-row">
          <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
            <label for="checkin_date" class="font-weight-bold text-black">
              Check In
            </label>
            <div class="field-icon-wrap">
              <div class="icon">
                <span class="icon-calendar"> </span>
                <input
                  ngbDatepicker
                  #in="ngbDatepicker"
                  type="text"
                  class="form-control"
                  id="checkin_date"
                  (click)="in.toggle()"
                />
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
            <label for="checkout_date" class="font-weight-bold text-black">
              Check Out
            </label>
            <div class="field-icon-wrap">
              <div class="icon">
                <span class="icon-calendar"> </span>
                <input
                  ngbDatepicker
                  #out="ngbDatepicker"
                  type="text"
                  class="form-control"
                  id="checkout_date"
                  (click)="out.toggle()"
                />
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
            <div class="row">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="adult" class="font-weight-bold text-black">
                  Adults
                </label>
                <div class="field-icon-wrap">
                  <div class="icon">
                    <!-- <span class="ion-ios-arrow-down"></span> -->
                    <select id="adult" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4+">4+</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-3 mb-md-0">
                <label for="children" class="font-weight-bold text-black">
                  Children
                </label>
                <div class="field-icon-wrap">
                  <div class="icon">
                    <!-- <span class="ion-ios-arrow-down"> </span> -->
                    <select id="children" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4+">4+</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 align-self-end">
            <button class="btn btn-primary btn-block text-white">
              Check Availability
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->
</section>
