/** @format */
.section {
  background-color: #f8f9fa !important;
}
.check-in {
  border-radius: 20px;
  width: 80vw;
  margin-top: -4rem;
  position: relative;
  form {
    padding: 3rem;
  }
}

.form-styling .field-icon-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
@media (max-width: 575px) {
  .check-in {
    margin-top: 0;
    position: relative;
    width: 100%;
  }
}
