/** @format */

.bg-image {
  background-image: url('src/assets/images/reservation-1.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  padding: 7rem 0;
  z-index: 1;

  .overlay:before {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
  }
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;

  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:focus,
.btn:active {
  outline: none;
}
.btn-outline-white-primary {
  border: 2px solid #fff;
}
.btn-outline-white-primary:hover {
  border: 2px solid transparent;
  background: #ffba5a;
  color: #fff;
}
a {
  font-size: 1rem;
  font-weight: 900;
}