/** @format */

.rooms-and-suites {
  padding: 2em 0;
  background-color: white;
  * {
    max-width: 100vw !important;
  }
  .span-color {
    color: orange;
  }

  .heading {
    font-family: 'Playfair Display', times, serif;
    font-weight: bold;
  }
}

.horizontal-scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;

  .card {
    flex: 0 0 auto;
    img {
      width: 20rem;
    }
    padding: 0.7rem;
    margin: 0.5rem;
  }
}
