<!-- @format -->

<div class="dinning-container">
  <app-cover [backGround]="backGround" [viewHeight]="viewHeight">
    <div class="container cover-content">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <h1 class="heading mb-4">Dining</h1>
          <ul class="ul-decoration mb-4">
            <li>
              <a
                [routerLink]="['/welcome']"
                routerLinkActive="router-link-active"
                >HOME</a
              >
            </li>
            <li>&#8226;</li>
            <li>DINING</li>
          </ul>
        </div>
      </div>
    </div>
  </app-cover>
  <section class="section">
    <!-- first -->
    <div class="py-5 bg-light jumbo-image">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5"
          >
            <img
              src="./assets/images/welcome.jpeg"
              alt="welcome"
              width="100%"
            />
          </div>

          <div class="col-md-12 col-lg-4 order-lg-1 jumbo-content">
            <h1 class="heading">Restaurant</h1>
            <p class="mb-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
              temporibus eligendi praesentium ducimus dicta in nostrum dolore,
              accusamus libero nobis perferendis sint neque ratione ipsum?
              Expedita corrupti dolores eius blanditiis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- second -->
    <div class="py-5 bg-light jumbo-image">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-md-12 col-lg-7 ml-auto order-lg-1 position-relative mb-5"
          >
            <img
              src="./assets/images/welcome.jpeg"
              alt="welcome"
              width="100%"
            />
          </div>

          <div class="col-md-12 col-lg-4 order-lg-2 jumbo-content">
            <h1 class="heading">Room Dining</h1>
            <p class="mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
              doloremque dolorem id, quam accusamus inventore expedita molestias
              repellendus voluptas labore similique obcaecati eveniet tenetur.
              Vitae beatae necessitatibus cum corporis impedit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-reservation></app-reservation>
  <app-footer></app-footer>
</div>
