/** @format */
.about-us {
  background-color: #f8f9fa !important;
  .section {
    padding: 7rem 0;
  }
}

.jumbo-image {
  background-color: #f2f4fb !important;
  img {
    height: 30rem;
  }
}

.timeline-item {
  padding: 0 2em 2em;
  position: relative;
  border-left: 2px solid #dee2e6;

  p {
    font-size: 20px;
  }
}
.timeline-item::before {
  content: attr(time-line);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-weight: 700;
  font-size: 0.785rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -6px;
  border-radius: 10px;
  content: '';
  border: 2px solid #dee2e6;
  background: white;
}
.timeline-item:last-child {
  -webkit-border-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(60%, #dee2e6),
      to(rgba(222, 226, 230, 0))
    )
    1 100%;
  -webkit-border-image: -webkit-linear-gradient(
      top,
      #dee2e6 60%,
      rgba(222, 226, 230, 0)
    )
    1 100%;
  -o-border-image: -o-linear-gradient(top, #dee2e6 60%, rgba(222, 226, 230, 0))
    1 100%;
  border-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(60%, #dee2e6),
      to(rgba(222, 226, 230, 0))
    )
    1 100%;
  border-image: linear-gradient(to bottom, #dee2e6 60%, rgba(222, 226, 230, 0))
    1 100%;
}
