<!-- @format -->

<div class="about-us">
  <app-cover [backGround]="backGround">
    <div class="container cover-content">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <h1 class="heading mb-4">About Us</h1>
          <ul class="ul-decoration mb-4">
            <li>
              <a
                [routerLink]="['/welcome']"
                routerLinkActive="router-link-active"
                >HOME</a
              >
            </li>
            <li>&#8226;</li>
            <li>ABOUT</li>
          </ul>
        </div>
      </div>
    </div>
  </app-cover>
  <!-- app-cover -->
  <div class="py-5 bg-light jumbo-image">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5"
        >
          <img src="./assets/images/welcome.jpeg" alt="welcome" />
        </div>

        <div class="col-md-12 col-lg-4 order-lg-1 jumbo-content">
          <h1 class="heading">Welcome!</h1>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
            doloremque dolorem id, quam accusamus inventore expedita molestias
            repellendus voluptas labore similique obcaecati eveniet tenetur.
            Vitae beatae necessitatibus cum corporis impedit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- jumbotron -->
  <div class="container section">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7 mb-5">
        <h2 class="heading">Leadership</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="block-2">
          <div class="flipper">
            <div
              class="front"
              style="background-image: url(images/person_3.jpg);"
            >
              <div class="box">
                <h2>Kofi Mensah</h2>
                <p>Manager</p>
              </div>
            </div>
            <div class="back">
              <blockquote>
                <p>
                  &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Magni consequuntur provident error necessitatibus
                  officiis perferendis fugiat temporibus voluptate ab cumque
                  molestiae facilis, quis corporis est asperiores, assumenda
                  eius debitis deserunt..&rdquo;
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- first -->
      <div class="col-md-6 col-lg-4">
        <div class="block-2">
          <div class="flipper">
            <div
              class="front"
              style="background-image: url(images/person_3.jpg);"
            >
              <div class="box">
                <h2>Kofi Mensah</h2>
                <p>Manager</p>
              </div>
            </div>
            <div class="back">
              <blockquote>
                <p>
                  &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Magni consequuntur provident error necessitatibus
                  officiis perferendis fugiat temporibus voluptate ab cumque
                  molestiae facilis, quis corporis est asperiores, assumenda
                  eius debitis deserunt..&rdquo;
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- second -->
      <div class="col-md-6 col-lg-4">
        <div class="block-2">
          <div class="flipper">
            <div
              class="front"
              style="background-image: url(images/person_3.jpg);"
            >
              <div class="box">
                <h2>Kofi Mensah</h2>
                <p>Manager</p>
              </div>
            </div>
            <div class="back">
              <blockquote>
                <p>
                  &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Magni consequuntur provident error necessitatibus
                  officiis perferendis fugiat temporibus voluptate ab cumque
                  molestiae facilis, quis corporis est asperiores, assumenda
                  eius debitis deserunt..&rdquo;
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- third -->
    </div>
  </div>
  <section
    class="section slider-section bg-light"
    style="background-color: white !important;"
  >
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading" style="font-size: 3rem;">
            Gallery
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
            quae aperiam rem laboriosam asperiores architecto corporis aut
            recusandae ipsa molestias alias consequuntur, quo, sed quidem quod!
            Sint voluptates illum laboriosam!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-slider></app-slider>
        </div>
      </div>
    </div>
  </section>
  <!-- app-slider -->
  <div class="section">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7 mb-5">
          <h2 class="heading">More Info</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="timeline-item">
            <h2 time-line>Branches</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics, a
              large language ocean.
            </p>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth.
            </p>
          </div>

          <div class="timeline-item">
            <h2 time-line>Vision</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics, a
              large language ocean.
            </p>
          </div>

          <div class="timeline-item">
            <h2 time-line>The Birth of the Company</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics, a
              large language ocean.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- more info -->
  <app-reservation></app-reservation>
  <app-footer></app-footer>
</div>
