<!-- @format -->
<div class="home-container">
  <app-cover [backGround]="backGround">
    <div class="cover-content">
      <p>Welcome to Ridge Condos Hotel</p>
      <h1>A Best Place To Stay</h1>
    </div></app-cover
  >
  <div class="app-check-in">
    <app-check-in></app-check-in>
  </div>
  <!-- <div class="jumbotron">
    <div class="row">
      <div class="col jumbo-image">
        <img src="assets/images/welcome.jpeg" alt="welcome" />
      </div>
      <div class="col jumbo-content">
        <h1>Welcome!</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          doloremque dolorem id, quam accusamus inventore expedita molestias
          repellendus voluptas labore similique obcaecati eveniet tenetur. Vitae
          beatae necessitatibus cum corporis impedit.
        </p>
      </div>
    </div>
  </div> -->
  <section class="section rooms-and-suites">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading" style="font-size: 3rem;">
            Rooms & Suites
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
            quae aperiam rem laboriosam asperiores architecto corporis aut
            recusandae ipsa molestias alias consequuntur, quo, sed quidem quod!
            Sint voluptates illum laboriosam!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="room">
            <figure class="img-wrap">
              <img
                src="assets/images/single.jpeg"
                alt=""
                class="img-fluid mb-3"
              />
            </figure>
          </div>
          <div class="p-3 text-center room-info">
            <h2>Single Room</h2>
            <span class="text-uppercase letter-spacing-1 span-color">
              GHS 1000 / per week
            </span>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="room">
            <figure class="img-wrap">
              <img
                src="assets/images/family.jpeg"
                alt=""
                class="img-fluid mb-3"
              />
            </figure>
          </div>
          <div class="p-3 text-center room-info">
            <h2>Family Room</h2>
            <span class="text-uppercase letter-spacing-1 span-color">
              GHS 2000 / per week
            </span>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="room">
            <figure class="img-wrap">
              <img
                src="assets/images/presidential.jpeg"
                alt=""
                class="img-fluid mb-3"
              />
            </figure>
          </div>
          <div class="p-3 text-center room-info">
            <h2>Presidential Room</h2>
            <span class="text-uppercase letter-spacing-1 span-color">
              GHS 3000 / per week
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-facilities></app-facilities>
  <app-lounge></app-lounge>

  <section class="section slider-section bg-light">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading" style="font-size: 3rem;">
            Gallery
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
            quae aperiam rem laboriosam asperiores architecto corporis aut
            recusandae ipsa molestias alias consequuntur, quo, sed quidem quod!
            Sint voluptates illum laboriosam!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-slider></app-slider>
        </div>
      </div>
    </div>
  </section>
  <app-reservation></app-reservation>
  <app-footer></app-footer>
</div>
