/** @format */
.cover-content {
  p {
    font-size: 30px;
  }
  h1 {
    font-size: 4.5rem !important;
  }
}
.app-check-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.jumbotron {
  // margin: -6.4rem 0;
  position: relative;
  z-index: -1;

  .row {
    margin: 5rem 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .jumbo-image {
    img {
      height: 30rem;
    }
  }
}
.rooms-and-suites {
  padding: 5em 0;
  background-color: white;

  .span-color {
    color: orange;
  }

  .heading {
    font-family: 'Playfair Display', times, serif;
    font-weight: bold;
  }
}
.room {
  display: block;
  // position: absolute;

  .img-wrap {
    position: relative;
    overflow: hidden;
  }
}
.slider-section {
  padding: 5rem 0;
}
.cover-slider {
  background-color: white;
  img {
    height: 70vh !important;
  }
}
.carousel-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
  padding: 0 0 30vh 0;
  font-size: 30px;
}
