<!-- @format -->

<section class="section blog-post-entry bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading">Facilities</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="row first-row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 post" data-aos="fade-up">
          <div class="media media-custom d-block mb-4 h-100">
            <div class="mb-4 d-block">
              <img
                src="./assets/images/slide-7.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </div>
            <div class="media-body">
              <h2 class="mt-0 mb-3">
                <div>Swiming Pool</div>
              </h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
                soluta maiores impedit
              </p>
            </div>
          </div>
        </div>
        <!-- end -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 post" data-aos="fade-up">
          <div class="media media-custom d-block mb-4 h-100">
            <div class="mb-4 d-block">
              <img
                src="./assets/images/slide-3.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </div>
            <div class="media-body">
              <h2 class="mt-0 mb-3">
                <div>Gym</div>
              </h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
                soluta maiores impedit
              </p>
            </div>
          </div>
        </div>
        <!-- end -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-12 post">
          <div class="media media-custom d-block mb-4 h-100">
            <div class="mb-4 d-block">
              <img
                src="./assets/images/conference.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </div>
            <div class="media-body">
              <h2 class="mt-0 mb-3">
                <div>conference Hall</div>
              </h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
                soluta maiores impedit
              </p>
            </div>
          </div>
        </div> -->
      </div>
      <!--First Row-->
      <div class="row">
        <!-- end -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 post" data-aos="fade-up">
          <div class="media media-custom d-block mb-4 h-100">
            <div class="mb-4 d-block">
              <img
                src="./assets/images/02-lounge.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </div>
            <div class="media-body">
              <h2 class="mt-0 mb-3">
                <div>02 Lounge</div>
              </h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
                soluta maiores impedit
              </p>
            </div>
          </div>
        </div>
        <!-- end -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 post" data-aos="fade-up">
          <div class="media media-custom d-block mb-4 h-100">
            <div class="mb-4 d-block">
              <img
                src="./assets/images/conference.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </div>
            <div class="media-body">
              <h2 class="mt-0 mb-3">
                <div>conference Hall</div>
              </h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
                soluta maiores impedit
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Second Row-->
    </div>
  </div>
</section>
