<!-- @format -->

<div class="facilities-container">
  <app-cover [backGround]="backGround">
    <div class="container cover-content">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <h1 class="heading mb-4">Facilities</h1>
          <ul class="ul-decoration mb-4">
            <li>
              <a
                [routerLink]="['/welcome']"
                routerLinkActive="router-link-active"
                >HOME</a
              >
            </li>
            <li>&#8226;</li>
            <li>FACILITIES</li>
          </ul>
        </div>
      </div>
    </div>
  </app-cover>
  <section class="section blog-post-entry bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5">
          <div class="media media-custom d-block mb-4 h-100">
            <p class="mb-4 d-block">
              <img
                src="assets/images/conference.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </p>
            <div class="media-body">
              <!-- <span class="meta-post">February 26, 2018</span> -->
              <h2 class="mt-0 mb-3">
                <p>Conference Hall</p>
              </h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </p>
              <!-- <button class="btn btn--white"> -->
              <app-modal
                class="modalLaunch"
                [modalTitle]="modalTitle"
                [modalLaunch]="modalLaunch"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
                  qui exercitationem aliquid soluta aliquam consequuntur rerum
                  sit, ducimus nihil ad, deleniti et porro sapiente omnis totam
                  commodi? Autem, repudiandae ullam.
                </p>
              </app-modal>
              <!-- </button> -->
            </div>
          </div>
        </div>
        <!--Conference Hall-->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5">
          <div class="media media-custom d-block mb-4 h-100">
            <p class="mb-4 d-block">
              <img
                src="assets/images/family.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </p>
            <div class="media-body">
              <!-- <span class="meta-post">February 26, 2018</span> -->
              <h2 class="mt-0 mb-3">
                <p>Rooms For A Family</p>
              </h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </p>
              <!-- <button class="btn btn--white"> -->
              <app-modal
                class="modalLaunch"
                [modalTitle]="modalTitle"
                [modalLaunch]="modalLaunch"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
                  qui exercitationem aliquid soluta aliquam consequuntur rerum
                  sit, ducimus nihil ad, deleniti et porro sapiente omnis totam
                  commodi? Autem, repudiandae ullam.
                </p>
              </app-modal>
              <!-- </button> -->
            </div>
          </div>
        </div>
        <!--Rooms For a family-->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5">
          <div class="media media-custom d-block mb-4 h-100">
            <p class="mb-4 d-block">
              <img
                src="assets/images/presidential.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </p>
            <div class="media-body">
              <!-- <span class="meta-post">February 26, 2018</span> -->
              <h2 class="mt-0 mb-3">
                <p>Presidential Rooms</p>
              </h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </p>
              <!-- <button class="btn btn--white"> -->
              <app-modal
                class="modalLaunch"
                [modalTitle]="modalTitle"
                [modalLaunch]="modalLaunch"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
                  qui exercitationem aliquid soluta aliquam consequuntur rerum
                  sit, ducimus nihil ad, deleniti et porro sapiente omnis totam
                  commodi? Autem, repudiandae ullam.
                </p>
              </app-modal>
              <!-- </button> -->
            </div>
          </div>
        </div>
        <!--Presidential Room-->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5">
          <div class="media media-custom d-block mb-4 h-100">
            <p class="mb-4 d-block">
              <img
                src="assets/images/02-lounge.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </p>
            <div class="media-body">
              <!-- <span class="meta-post">February 26, 2018</span> -->
              <h2 class="mt-0 mb-3">
                <p>02 Lounge</p>
              </h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </p>
              <!-- <button class="btn btn--white"> -->
              <app-modal
                class="modalLaunch"
                [modalTitle]="modalTitle"
                [modalLaunch]="modalLaunch"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
                  qui exercitationem aliquid soluta aliquam consequuntur rerum
                  sit, ducimus nihil ad, deleniti et porro sapiente omnis totam
                  commodi? Autem, repudiandae ullam.
                </p>
              </app-modal>
              <!-- </button> -->
            </div>
          </div>
        </div>
        <!--O2 Lounge-->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5">
          <div class="media media-custom d-block mb-4 h-100">
            <p class="mb-4 d-block">
              <img
                src="assets/images/slide-3.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </p>
            <div class="media-body">
              <!-- <span class="meta-post">February 26, 2018</span> -->
              <h2 class="mt-0 mb-3">
                <p>Gym</p>
              </h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </p>
              <!-- <button class="btn btn--white"> -->
              <app-modal
                class="modalLaunch"
                [modalTitle]="modalTitle"
                [modalLaunch]="modalLaunch"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
                  qui exercitationem aliquid soluta aliquam consequuntur rerum
                  sit, ducimus nihil ad, deleniti et porro sapiente omnis totam
                  commodi? Autem, repudiandae ullam.
                </p>
              </app-modal>
              <!-- </button> -->
            </div>
          </div>
        </div>
        <!--Gym-->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5">
          <div class="media media-custom d-block mb-4 h-100">
            <p class="mb-4 d-block">
              <img
                src="assets/images/family.jpeg"
                alt="Image placeholder"
                class="img-fluid"
              />
            </p>
            <div class="media-body">
              <!-- <span class="meta-post">February 26, 2018</span> -->
              <h2 class="mt-0 mb-3">
                <p>24hr Internet</p>
              </h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </p>
              <!-- <button class="btn btn--white"> -->
              <app-modal
                class="modalLaunch"
                [modalTitle]="modalTitle"
                [modalLaunch]="modalLaunch"
              >
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
                  qui exercitationem aliquid soluta aliquam consequuntur rerum
                  sit, ducimus nihil ad, deleniti et porro sapiente omnis totam
                  commodi? Autem, repudiandae ullam.
                </p>
              </app-modal>
              <!-- </button> -->
            </div>
          </div>
        </div>
        <!--Internet-->
      </div>
    </div>
  </section>
  <app-reservation></app-reservation>
  <app-footer></app-footer>
</div>
