/** @format */

.blog-post-entry {
  position: relative;
  padding: 7rem 0;
}
.post .media-custom {
  background: #fff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}
.post .media-custom:hover,
.post .media-custom:focus {
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
}
.post .media-custom a {
  color: #000;
}
.post .media-custom a:hover {
  color: #ffba5a;
}
.post .media-custom .media-body {
  padding: 10px 30px;
}
.post .media-custom h2 {
  font-size: 26px;
}

.media-custom .meta-post {
  color: #adb5bd;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 14px;
}
.modalLaunch {
  color: white;
  background-color: grey;
  padding: .5rem;
}
