<!-- @format -->

<div class="facilities-container">
  <app-cover [backGround]="backGround">
    <div class="container cover-content">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <h1 class="heading mb-4">Conference & Events</h1>
          <ul class="ul-decoration mb-4">
            <!-- <li>
              <a
                [routerLink]="['/welcome']"
                routerLinkActive="router-link-active"
                >HOME</a
              >
            </li> -->
            <!-- <li>&#8226;</li> -->
            <!-- <li>Conference & Events</li> -->
          </ul>
        </div>
      </div>
    </div>
  </app-cover>
  <section class="section" style="padding: 5em 0; background-color: white;">
    <div class="container">
      <div class="row jestify-content-start mb-5">
        <div class="col-md-7">
          <h1>Conference and Events</h1>
        </div>
        <p style="padding: 1em;">
          You can choose our executive halls for a successful conference - from
          10 people to 120 people. The equipment corresponds to the most modern
          technology for conferences. The physical well-being is also well taken
          care of. It is always our aim to create the best possible basis for a
          harmonious course of your conference. For events such as family
          celebrations, weddings and other events, we work with you to create
          the desired ambience for the event.
        </p>
        <button style="margin: 0 0 0 1em;" class="btn btn-primary" [routerLink]="['/reservation']">
          Enquire Now
        </button>
      </div>
    </div>
  </section>
  <section class="section" style="background-color: white;">
    <div class="container">
      <!-- <div class="card"> -->
      <!-- <div class="row justify-content-center text-center mb-5"> -->
      <div class="site-block-half d-block d-lg-flex image-and-text">
        <div class="image d-block bg-image-2" style="background-image: url(./assets/images/conference.jpeg);"></div>
        <div class="text">
          <h4 class="mb-4">Main Conference</h4>
          <p>
            We can provide everything you’ll need to host a successful conference or meeting. Our halls are well
            equipped with audio/visual support and technical support, while our professional Team Members are always at
            your service. Ridge Condos specializes in bringing its Clientele “Memories Worth Repeating”
          </p>
        </div>
        <!-- </div> -->
      </div>
      <!-- </div> -->
      <div class="description">
        <h3>A Better Way To Do Business</h3>
        <table class="table">
          <thead>
            <tr>
              <td scope="col">95-Sq.-Ft. Conference Room</td>
              <td scope="col">Audiovisual Equipment</td>
              <td scope="col">Professional Event Planners</td>
            </tr>
            <tr>
              <td scope="col">Space for 25-80 Guests</td>
              <td scope="col">Customized Catering</td>
              <td scope="col">Business Center with Fax, Copy, Print</td>
            </tr>
            <tr>
              <td scope="col">Complimentary Wi-Fi</td>
              <td scope="col">Free Parking</td>
              <td scope="col">42 km to Kumasi Airport</td>
            </tr>
            <tr>
              <td scope="col">Free Local Shuttle Service</td>
              <td scope="col">Restaurants & Bars</td>
              <td scope="col">42 km to Kumasi Sports Stadium</td>
            </tr>
          </thead>
        </table>
        <!-- <div class="row">
          <ul class="col">
            <li>95-Sq.-Ft. Conference Room</li>
            <li>Professional Event Planners</li>
            <li>Audiovisual Equipment</li>
          </ul>
          <ul class="col">
            <li>Space for 25-80 Guests</li>
            <li>Customized Catering</li>
            <li>
              Business Center with Fax, Copy, Print
            </li>
          </ul>
          <ul class="col">
            <li>Complimentary Wi-Fi</li>
            <li>Free Parking</li>
            <li>42 km to Kumasi Airport</li>
          </ul>
          <ul class="col">
            <li>Free Local Shuttle Service</li>
            <li>Restaurants & Bars</li>
            <li>
              42 km to Kumasi Sports Stadium
            </li>
          </ul>
        </div> -->
      </div>
      <!-- <div class="card"> -->
      <div class="site-block-half d-block d-lg-flex text-and-image" style="margin-bottom: 1em;">
        <div class="image d-block bg-image-2 order-2" style="background-image: url(./assets/images/conference.jpeg);">
          <!-- <img src="./assets/images/conference.jpeg" alt="" /> -->
        </div>
        <div class="text order-1">
          <h4>Mini Conference</h4>
          <!-- <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            suscipit, iste quasi atque provident cum ab libero alias inventore
            fuga recusandae eos quisquam tempore perferendis laborum officia
            dolores incidunt dignissimos!
          </p> -->
        </div>
      </div>
      <!-- </div> -->
    </div>
  </section>
  <app-reservation></app-reservation>
  <app-footer></app-footer>
</div>