<!-- @format -->

<footer class="section footer-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4 mb-5">
        <ul class="list-unstyled link">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a [routerLink]="['/rooms']">Rooms</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-5">
        <ul class="list-unstyled link">
          <li>
            <a [routerLink]="['/about']">About Us</a>
          </li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Restaurant</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-5 pr-md-5 contact-info">
        <p>
          <span class="d-block"
            ><fa-icon
              [icon]="faAddressCard"
              [styles]="{ color: 'orange' }"
            ></fa-icon>
            Address:</span
          >
          <span>
            198 West 21th Street, <br />
            Ahodwo, Kumasi</span
          >
        </p>
        <p>
          <span class="d-block"
            ><fa-icon [icon]="faPhone" [styles]="{ color: 'orange' }"></fa-icon>
            Phone:</span
          >
          <span> (+233) 502 3533</span>
        </p>
        <p>
          <span class="d-block"
            ><fa-icon [icon]="faInbox" [styles]="{ color: 'orange' }"></fa-icon>
            Email:</span
          >
          <span> info@condoshotel.com</span>
        </p>
      </div>
    </div>
  </div>
</footer>
