/** @format */

.footer-section {
  padding: 7rem 0;
  background: #1a1a1a;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-style: italic;
  font-size: 18px;
  li {
    margin-bottom: 10px;
  }
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: #fff;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.5);
  }
}

.router-link-active {
  color: orange;
}
