/** @format */

.image {
  height: 30em;
}
.site-block-half .image,
.site-block-half .text {
  width: 100%;
  // height: 100%;
}
.caro-img {
  height: 100%;
}
@media (min-width: 992px) {
  .site-block-half .image,
  .site-block-half .text {
    width: 50%;
  }
}

@media (max-width: 991.98px) {
  .site-block-half .image {
    margin-bottom: 50px;
    height: 300px;
  }
  .caro-img {
    margin-bottom: 0 !important;
  }
}

.site-block-half .text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .site-block-half .text {
    padding: 4rem;
  }
}

.site-block-half .bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 991.98px) {
  .site-block-half .bg-image {
    height: 400px;
  }
}
.carousel {
  img {
    height: 100%;
  }
}
.card {
  margin: 3rem 0;
}
.extras {
  position: relative;
  .table-responsive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
