<!-- @format -->

<div class="leisure-container">
  <app-cover [backGround]="backGround">
    <div class="container cover-content">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <h1 class="heading mb-4">Leisure</h1>
          <ul class="ul-decoration mb-4">
            <li>
              <a
                [routerLink]="['/welcome']"
                routerLinkActive="router-link-active"
                >HOME</a
              >
            </li>
            <li>&#8226;</li>
            <li>LEISURE</li>
          </ul>
        </div>
      </div>
    </div>
  </app-cover>
  <section class="section" style="padding: 5em 0;">
    <div class="container">
      <div class="row jestify-content-start mb-5">
        <div class="col-md-7">
          <h1>Leisure Facilities</h1>
        </div>
        <!-- <p style="padding: 1em; margin: 0;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.
          Doloremque laudantium molestiae, numquam delectus sapiente non natus
          voluptates nulla, quibusdam praesentium, impedit illum quisquam vel
          ducimus odio. Sint, totam.
        </p> -->
      </div>
      <div class="card">
        <div class="site-block-half d-block d-lg-flex image-and-text">
          <div class="image caro-img d-block bg-image-2">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="3"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="4"
                ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="carousel-caption d-none d-md-block"></div>
                  <img
                    src="./assets/images/gym-1.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption d-none d-md-block"></div>
                  <img
                    src="./assets/images/gym-2.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption d-none d-md-block"></div>
                  <img
                    src="./assets/images/gym-3.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption d-none d-md-block"></div>
                  <img
                    src="./assets/images/gym-4.jpeg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="text caro-txt">
            <h4 class="mb-4">gym</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
              recusandae praesentium facilis amet officiis molestias delectus
              natus, dolor beatae magni dignissimos nemo omnis. Consectetur
              eligendi adipisci dignissimos atque enim dolores.
            </p>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <div class="card">
        <div
          class="site-block-half d-block flex-row-reverse d-lg-flex image-and-text"
        >
          <div
            class="image d-block bg-image-2"
            style="
              background-image: url(./assets/images/slide-7.jpeg);
              background-position: center;
            "
          ></div>
          <div class="text">
            <h4 class="mb-4">Swiming Pool</h4>
            <p>
              Our Pool is the perfect place to enjoy summer sunshine. The Pool
              offers a serene environment of well-being and relaxation. Pool
              hours: Monday - Sunday
            </p>
          </div>

          <!-- </div> -->
        </div>
      </div>
      <div class="card">
        <div class="site-block-half d-block d-lg-flex image-and-text">
          <div
            class="image d-block bg-image-2"
            style="
              background-image: url(./assets/images/o2-lounge.JPG);
              background-position: center;
            "
          ></div>
          <div class="text">
            <h4 class="mb-4">O2 Lounge</h4>
            <p>
              Unwind with colleagues or friends at this contemporary bar with
              music at Ridge Condos. Leisure and business guests and fashionable
              young locals enjoy sweet music at our O2 Lounge.
            </p>
          </div>

          <!-- </div> -->
        </div>
      </div>
      <div class="card">
        <div
          class="site-block-half d-block flex-row-reverse d-lg-flex image-and-text"
        >
          <div
            class="image d-block bg-image-2"
            style="
              background-image: url(./assets/images/02-lounge.jpeg);
              background-position: center;
            "
          ></div>
          <div class="text">
            <h4 class="mb-4">Pool Bar</h4>
            <p>
              Dine on traditional Ghanaian and Continental cuisine at our pool
              side restaurant. Join business guests and locals as you feast on
              continental favorites from the buffet. Our Restaurant is set to
              provide all the luxury that you need while you dine to delicious
              recepies for breakfast, lunch and dinner. This Pool Side Bar is
              the ideal bar to unwind to some classic tunes after a hard day's
              work or to catchup with friends and family or for that informal
              business meeting. Enjoy your favourite drinks and cocktails with
              special meals in a serene relaxed atmosphere.
            </p>
          </div>

          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <div class="extras" style="margin-top: -7rem; padding: 3rem 0;">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <td scope="col">
                <span>
                  <fa-icon [icon]="faWifi" style="vertical-align: middle;">
                  </fa-icon>
                  WIFI
                </span>
              </td>
              <td scope="col">
                <span>
                  <fa-icon [icon]="faBus" style="vertical-align: middle;">
                  </fa-icon>
                  Free Shuttle
                </span>
              </td>
              <td scope="col">
                <span>
                  <fa-icon
                    [icon]="faWheelchair"
                    style="vertical-align: middle;"
                  >
                  </fa-icon>
                  Handicap Access
                </span>
              </td>
              <td scope="col">
                <span>
                  <fa-icon
                    [icon]="faSwimmingPool"
                    style="vertical-align: middle;"
                  >
                  </fa-icon>
                  Pool
                </span>
              </td>
              <td scope="col">
                <span>
                  <fa-icon
                    [icon]="faDumbbell"
                    style="vertical-align: middle;"
                  ></fa-icon>
                  Gym
                </span>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <app-reservation></app-reservation>
  <app-footer></app-footer>
</div>
