<!-- @format -->

<div class="sidebar-wrapper" id="sidenav">
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/admin/dashboard']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          <img
            src="assets/img/dash-white.png"
            class="sidenav-icon"
            height="15"
            width="15"
          />Dashboard
        </p>
      </a>
    </li>
    <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/admin/rooms']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          <img
            src="assets/img/room.png"
            class="sidenav-icon"
            height="15"
            width="15"
          />Rooms
        </p>
      </a>
    </li>
    <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/admin/booking']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          <img
            src="assets/img/booking.png"
            class="sidenav-icon"
            height="15"
            width="15"
          />Booking Request
        </p>
      </a>
    </li>
    <!-- <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/admin/issues']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          <img
            src="assets/img/issue.png"
            class="sidenav-icon"
            height="15"
            width="15"
          />Customer Issues
        </p>
      </a>
    </li> -->
    <!-- <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/admin/events']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          <img
            src="assets/img/event-white.png"
            class="sidenav-icon"
            height="15"
            width="15"
          />Events
        </p>
      </a>
    </li> -->
    <!-- <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/admin/employees']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          <img
            src="assets/img/employee.png"
            class="sidenav-icon"
            height="15"
            width="15"
          />Employees
        </p>
      </a>
    </li> -->
    <!-- <li class="nav-item ">
      <a
        class="nav-link"
        id="custom-side"
        [routerLink]="['/admin/repair']"
        routerLinkActive="router-link-active"
      >
        <p id="sidenav-item-custom">
          <img
            src="assets/img/repair.png"
            class="sidenav-icon"
            height="15"
            width="15"
          />Repair Request
        </p>
      </a>
    </li> -->
  </ul>
</div>
