/** @format */

.overlay {
  // background-image: url('src/assets/images/front.jpeg');
  background-size: cover;
  height: 70vh;
  min-height: 700px;
  width: 100%;
  position: relative;
  background-position: right;
  // z-index: -1;
}
.overlay:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
}