<!-- @format -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['']"
      routerLinkActive="router-link-active"
      >Ridge Condos</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLi
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/rooms']"
            routerLinkActive="router-link-active"
            >Rooms</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/facilities']"
            routerLinkActive="router-link-active"
            >Facilities</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/reservation']"
            routerLinkActive="router-link-active"
            >Reservation</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/contact']"
            routerLinkActive="router-link-active"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
