/** @format */
.location {
  a {
    font-size: 1em !important;
  }
}
nav {
  max-width: 100vw !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  a {
    color: white !important;
  }
}
.navbar-brand {
  font-size: 2rem !important;
  padding-left: 10rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.router-link-active.router-link-active.router-link-active {
  color: orange !important;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 20px !important;
}
* {
  max-width: 100vw;
}
// .navbar-brand {
//   position: absolute;
//   z-index: 20000;
//   img {
//     position: fixed;
//   }
// }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .navbar-brand {
    padding-left: 0;
  }
}
@media only screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .navbar-brand {
    padding-left: 0;
  }
}
.contact-detail {
  background-color: white;
  padding: 0 12.1rem;
  padding-right: 12.5rem;
  color: black !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 13px !important;

  a {
    color: black !important;
  }

  .row {
    margin: 0 !important;
    padding: 10px 0 0 0;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .contact-detail {
    background-color: white;
    padding: 1rem;
    color: black !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media only screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .contact-detail {
    background-color: white;
    padding: 1rem;
    color: black !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
fa-icon {
  color: orange;
}
i {
  font-size: 17px;
}
a:visited,
a:not(:visited) {
  color: white;
}
#navbarResponsive {
  padding-right: 11em;
}
a {
  text-transform: uppercase;
  font-size: 17px !important;
}
