<!-- @format -->

<nav
  class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
  id="mainNav"
>
  <!-- <div class="container"> -->
  <a
    class="navbar-brand"
    [routerLink]="['']"
    routerLinkActive="router-link-active"
  >
    <img src="assets/images/logo.jpeg" alt="" height="100" width="150" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLi
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/rooms']"
          routerLinkActive="router-link-active"
          >Rooms</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/facilities']"
          routerLinkActive="router-link-active"
          >Facilities</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/reservation']"
          routerLinkActive="router-link-active"
          >Reservation</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/contact']"
          routerLinkActive="router-link-active"
          >Contact</a
        >
      </li>
    </ul>

    <div class="navbar-nav ml-auto contact-details">
      <div class="nav-item">
        <fa-icon [icon]="faPhone" [styles]="{ color: 'orange' }"></fa-icon>
        (+233) 502 3533
      </div>
      <div class="nav-item second">
        <fa-icon [icon]="faInbox" [styles]="{ color: 'orange' }"></fa-icon>
        reserve@ridgecondos.com.gh
      </div>
    </div>
  </div>
  <!-- </div> -->
</nav>
