/** @format */

.navbar-brand {
  font-size: 2rem !important;
}

.router-link-active.router-link-active.router-link-active {
  color: orange !important;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 15px !important;
}
