/** @format */
.section {
  padding: 5rem 0;
}

.text-primary {
  color: orange !important;
}
a {
  color: orange;
}

.bg-image {
  background-image: url('src/assets/images/02-lounge.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.bg-image.overlay:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 0.6);
}

.food-menu-tabs {
  text-align: center;
}
.food-menu-tabs .nav-tabs {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: none;
}
.food-menu-tabs .nav-tabs li {
  display: inline-block;
}
.food-menu-tabs .nav-tabs li a {
  border: none;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  display: block;
}
.food-menu-tabs .nav-tabs li a:before {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  content: '';
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 20px;
  height: 2px;
  background: transparent;
}
.food-menu-tabs .nav-tabs li a.active {
  border: none;
  background: none;
  color: #fff;
}
.food-menu-tabs .nav-tabs li a.active:before {
  background: #fff;
}
