<!-- @format -->

<div class="reservation">
  <app-cover [backGround]="backGround">
    <div class="container cover-content">
      <div class="row justify-content-center align-items-center">
        <div class="col text-center">
          <h1 class="heading mb-4">Reservation</h1>
          <ul class="ul-decoration mb-4">
            <li>
              <a
                [routerLink]="['/welcome']"
                routerLinkActive="router-link-active"
                >HOME</a
              >
            </li>
            <li>&#8226;</li>
            <li>RESERVATION</li>
          </ul>
        </div>
      </div>
    </div>
  </app-cover>
  <section class="section contact-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <form
            action="#"
            method="post"
            class="bg-white p-md-5 p-4 mb-5 border"
          >
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="text-black font-weight-bold" for="name"
                  >Name</label
                >
                <input type="text" id="name" class="form-control " />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label class="text-black font-weight-bold" for="Email"
                  >Email</label
                >
                <input type="email" id="Email" class="form-control " />
              </div>
              <div class="col-md-6 form-group">
                <label class="text-black font-weight-bold" for="phone"
                  >Phone</label
                >
                <input type="text" id="phone" class="form-control " />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label for="adults" class="font-weight-bold text-black"
                  >Adults</label
                >
                <div class="field-icon-wrap">
                  <select name="" id="adults" class="form-control">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4+</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="children" class="font-weight-bold text-black"
                  >Children</label
                >
                <div class="field-icon-wrap">
                  <select name="" id="children" class="form-control">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4+</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row date-picker">
              <div class="form-group date-picker-input">
                <div class="input-group">
                  <input
                    ngbDatepicker
                    #in="ngbDatepicker"
                    placeholder="Date In"
                    type="text"
                    class="form-control"
                    (click)="in.toggle()"
                  />
                </div>
              </div>
              <div class="form-group date-picker-input">
                <div class="input-group">
                  <input
                    ngbDatepicker
                    #out="ngbDatepicker"
                    placeholder="Date Out"
                    type="text"
                    class="form-control"
                    (click)="out.toggle()"
                  />
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-md-12 form-group">
                <label class="text-black font-weight-bold" for="message"
                  >Notes</label
                >
                <textarea
                  name="message"
                  id="message"
                  class="form-control "
                  cols="30"
                  rows="8"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="submit"
                  value="Reserve Now"
                  class="btn btn-primary text-white py-3 px-5 font-weight-bold"
                />
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-5">
          <div class="row">
            <div class="col-md-10 ml-auto contact-info">
              <p>
                <span class="d-block">Address:</span>
                <span> 98 West 21th Street, Ahodwo</span>
              </p>
              <p>
                <span class="d-block">Phone:</span>
                <span> (+233) 502 3533</span>
              </p>
              <p>
                <span class="d-block">Email:</span>
                <span> info@hotel.com</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-reservation></app-reservation>
  <app-footer></app-footer>
</div>
